<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tarea 1</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles_listado.css') }}">
</head>
<body>
    <div class="main-container" id="main-container">
        <div class="up-container">
            <div class="botones">
            <a class="navbar-page" href="{{ url_for('principal') }}">volver</a>
            </div>
            <div class="listado">
                <div class="info-container"><p>Fecha publicación</p></div>
                <div class="info-container"><p>Fecha entrega</p></div>
                <div class="info-container"><p>Comuna</p></div>
                <div class="info-container"><p>Sector</p></div>
                <div class="info-container"><p>Cantidad tipo<br>edad</p></div>
                <div class="info-container"><p>Nombre<br>contacto</p></div>
                <div class="info-container"><p>Total de fotos</p></div>
            </div>
        </div>
        <div class="medium-container">

            {% if data %}
                {% for conf in data%}

                <div class="section">
                <div class="info">
                    <span id="fecha_publi_0">{{conf.fechaPublicacion}}</span>
                </div>
                <div class="info">
                    <span id="fecha_entrega_0">{{conf.fechaEntrega}}</span>
                </div>
                <div class="info">
                    <span id="comuna_0">{{conf.comuna}}</span>
                </div>
                <div class="info">
                    <span id="sector_0">{{conf.sector}}</span>
                </div>
                <div class="info">
                    <span id="contacto_0">{{conf.cantidadEdad}}</span>
                </div>
                <div class="info">
                    <span id="nombre_0">{{conf.nombre}}</span>
                </div>
                <div class="info">
                    <span id="fotos_0">{{conf.cantidadFotos}}</span>
                </div>
                </div>
                {% endfor%}
            {% endif %}

            <div class="down-container">
            <a class="navbar-page" href="{{ url_for('listado',id=siguiente) }}">siguiente</a>
            <a class="navbar-page" href="{{ url_for('listado',id=atras) }}">atras</a>
        </div>
        </div>
    </div>
    <div class="detalle" id="detalle" hidden>
        <div class="datos">
        <div class="no-fotos">
        <div class="entrega">
            <h3>Lugar de entrega</h3>
            <span id="region"></span><br>
            <span id="fEntrega"></span>
        </div>
        <div class="info-contacto">
            <h3>Información del contacto:</h3>
            <span id="nombre"></span><br>
            <span id="email"></span><br>
            <span id="contacto"></span>
        </div>
        <div class="animal">
            <h3>Información de la mascota</h3>
            <span id="datos"></span><br>
            <span id="descripcion"></span>
        </div>
        </div>
        <div class="fotos">
            <h3>Fotos</h3>
            <button id="btn-img-0" type="button"><img id="image0" src="../img/gato.jpeg" alt="Placeholder Image" width="320" height="240"></button>
            <button id="btn-img-1" type="button"><img id="image1" src="../img/gato.jpeg" alt="Placeholder Image" width="320" height="240"></button>
            <button id="btn-img-2" type="button"><img id="image2" src="../img/gato.jpeg" alt="Placeholder Image" width="320" height="240"></button>
            <button id="btn-img-3" type="button"><img id="image3" src="../img/gato.jpeg" alt="Placeholder Image" width="320" height="240"></button>
            <button id="btn-img-4" type="button"><img id="image4" src="../img/gato.jpeg" alt="Placeholder Image" width="320" height="240"></button>
        </div>
        </div>
        <button id="portada-btn" type="button">Volver a la portada</button>
        <button id="listado-btn" type="button">Volver a lista de adopciones</button>
    </div>
    <div class="solo-img" id="solo-img" hidden>
        <img id="solo" src="../img/gato.jpeg" alt="Placeholder Image" width="800" height="600">
        <button id="cerrar">Cerrar</button>
    </div>
<script lang="javascript" src="{{ url_for('static', filename='js/listado.js') }}"></script>
</body>
</html>

    

