<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Detalle</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles_detalle.css') }}">
</head>
<body>
    <div id="todo">
    <div class ="infos">
    <div class="datos" id="infos">
        {% if data_aviso %}
            <h3>Lugar de entrega</h3>
            <span id="region"></span>{{data_aviso.region}}<br>
            <span id="fEntrega">{{data_aviso.fecha_entrega}}</span>
            <h3>Información del contacto:</h3>
            <span>{{data_aviso.nombre}}</span><br>
            <span>{{data_aviso.email}}</span><br>
            {% if data_contacto %}
                {% for conf in data_contacto%}
                    <span>{{conf.nombre}}</span><br>
                {% endfor%}
            {% endif %}
            <h3>Información de la mascota</h3>
            <span id="datos">{{data_aviso.datos}}</span><br>
            <span id="descripcion">{{data_aviso.descripcion}}</span><br><br>
        {% endif %}
        <a class="navbar-page" href="{{ url_for('listado',id=0) }}">Volver a la lista de adopciones</a>
        <a class="navbar-page" href="{{ url_for('principal') }}">Volver a la portada</a>
    </div>
    
    <div class="comentatios-total">

    <div class="detalle1">
        <h3>Agregar Comentario</h3>
        <form name="myForm" method="post" enctype="multipart/form-data">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" minlength="3" maxlength="200" placeholder="Obligatorio"><br>
        <h3>Comentario</h3><br>
        <textarea name="descripcion" id="conf-text-area" cols="50" rows="4" placeholder="Comentario"></textarea>
        <button id="sgte-btn" type="button">Agregar comentario</button>
        <input id="id" type="number" value={{id}} hidden>
        </form>
        
    </div>
    <div class="detalle">
        <h3>Comentarios</h3>
        <ul id="lista-comentarios"></ul>
    </div>
    </div>
    <div id="fotos" class ="fotos">
        <table>
            <tr><th>Fotos</th></tr>
        {% if data_foto %}
                {% for conf in data_foto%}
                <tr>
                    <td>
                    <img onclick="cargar_imagen('{{conf.nombre}}')" id="{{conf.im}}" src="{{conf.nombre}}" alt="Placeholder Image" width="320" height="240">
                    </td>
                </tr>
                {% endfor%}
            {% endif %}
        </table>
    </div>
    </div>

    </div>
    </div>
    <div class="solo-img" id="solo-img" hidden>
        <img id="solo" src="../img/gato.jpeg" alt="Placeholder Image" width="800" height="600">
        <button onclick="cerr()">Cerrar</button>
    </div>
    

<script lang="en" src="{{ url_for('static', filename='js/listado.js') }}"></script>
<script lang="en" src="{{ url_for('static', filename='js/detalle.js') }}"></script>
<script>
    const cargar_imagen = (foto) => {
        let infos = document.getElementById("todo");
        infos.hidden = true;

        let ima = document.getElementById("solo-img");
        ima.hidden = false;
        let imas = document.getElementById("solo");
        imas.src = foto;
    }
    const cerr = (foto) => {
        let infos = document.getElementById("todo");
        infos.hidden = false;

        let ima = document.getElementById("solo-img");
        ima.hidden = true;
    }
</script>
</body>
</html>

    